.App {
  margin-top: 3em;
  margin-left: 12em;
  margin-right: 12em;
}

.form {
  margin-bottom: 3em;
}

.media-body {
  align-self: center;
}

.column {
  align-self: center;
  display: flex;
  justify-content: flex-start;
}
